<section class="faq" id="faq">
    <div class="container faq__container">
        <div class="faq__content">
            <h2 class="faq__title">Часто задаваемые вопросы</h2>
            <div class="faq__list">
                <div class="faq__item">
                    <button class="faq__question">Кому здесь не место?</button>
                    <div class="faq__answer">Ответ на вопрос...</div>
                </div>
                <div class="faq__item">
                    <button class="faq__question">Что такое "Путь"?</button>
                    <div class="faq__answer">Ответ на вопрос...</div>
                </div>
                <div class="faq__item">
                    <button class="faq__question">Как попасть в сообщество?</button>
                    <div class="faq__answer">Ответ на вопрос...</div>
                </div>
                <div class="faq__item">
                    <button class="faq__question">Сколько длится программа?</button>
                    <div class="faq__answer">Ответ на вопрос...</div>
                </div>
            </div>
        </div>
        <div class="faq__image">
            <img src="{{ url_for('static', filename='img/many_faces.jpg') }}" alt="Сообщество" class="faq__img" />
        </div>
    </div>
</section> 