<footer class="footer" id="contact">
    <div class="container footer__container">
        <div class="footer__contacts">
            <a href="mailto:example@mail.com">Info@osnovaputi.ru</a>
            <a href="https://t.me/osnovaputi" target="_blank">Телега</a>
            <a href="https://www.instagram.com/osnova.puti/?igsh=Y2oyM3p6eTlvY2I1&utm_source=qr" target="_blank">Инста</a>
        </div>
        <div class="footer__links">
            <a href="#policy">Политика</a>
            <a href="#faq">FAQ</a>
            <span>©2025 ОСНОВА ПУТИ</span>
        </div>
    </div>
</footer> 