<footer class="footer" id="contact">
    <div class="container footer__container">
        <div class="footer__contacts">
            <a href="mailto:example@mail.com">example@mail.com</a>
            <a href="https://t.me/osnovaputi" target="_blank">Телега</a>
            <a href="https://instagram.com/osnovaputi" target="_blank">Инста</a>
        </div>
        <div class="footer__links">
            <a href="#policy">Политика</a>
            <a href="#faq">FAQ</a>
            <span>©2025 ОСНОВА ПУТИ</span>
        </div>
    </div>
</footer> 