<section class="values" id="values">
    <div class="container values__container">
        <h2 class="values__title">Наши ценности</h2>
        <p class="values__subtitle">Принципы, на которых строится наше сообщество</p>
        
        <div class="values__list">
            <div class="value" style="background-image: url('{{ url_for('static', filename='img/balance.png') }}');">
                <div class="value__overlay"></div>
                <div class="value__content">
                    <div class="value__name">Баланс</div>
                    <div class="value__desc">Гармония между телом, разумом и духом</div>
                </div>
            </div>
            <div class="value" style="background-image: url('{{ url_for('static', filename='img/Become_strong.png') }}');">
                <div class="value__overlay"></div>
                <div class="value__content">
                    <div class="value__name">Сила</div>
                    <div class="value__desc">Внутренняя сила и стойкость</div>
                </div>
            </div>
            <div class="value" style="background-image: url('{{ url_for('static', filename='img/meditation.png') }}');">
                <div class="value__overlay"></div>
                <div class="value__content">
                    <div class="value__name">Глубина</div>
                    <div class="value__desc">Глубина понимания и осознанности</div>
                </div>
            </div>
            <div class="value" style="background-image: url('{{ url_for('static', filename='img/inner_circle.png') }}');">
                <div class="value__overlay"></div>
                <div class="value__content">
                    <div class="value__name">Сообщество</div>
                    <div class="value__desc">Закрытое пространство единомышленников</div>
                </div>
            </div>
            <div class="value" style="background-image: url('{{ url_for('static', filename='img/30_days.png') }}');">
                <div class="value__overlay"></div>
                <div class="value__content">
                    <div class="value__name">Трансформация</div>
                    <div class="value__desc">30 дней перерождения и изменений</div>
                </div>
            </div>
            <div class="value" style="background-image: url('{{ url_for('static', filename='img/doesn`t_heart.png') }}');">
                <div class="value__overlay"></div>
                <div class="value__content">
                    <div class="value__name">Присутствие</div>
                    <div class="value__desc">Полное присутствие в моменте</div>
                </div>
            </div>
        </div>
    </div>
</section> 