{% extends "base.html" %}
{% block content %}
    {% include "components/header.html" %}
    {% include "components/hero.html" %}
    {% include "components/stages.html" %}
    {% include "components/who_we_are.html" %}
    {% include "components/values.html" %}
    {% include "components/video_section.html" %}
    <!-- {% include "components/mission_community.html" %} -->
    <!-- {% include "components/mission.html" %} -->
    {% include "components/offline_events.html" %}
    {% include "components/faq.html" %}
    {% include "components/final_cta.html" %}
    {% include "components/alternative_programs.html" %}
    {% include "components/footer.html" %}
{% endblock %} 